<section id="viewSingleAd" class="viewSingleAd">
    <img id="image" src="{{imagePath}}" alt="Advertisement image"/>
    <div>Title:</div>
    <div>{{title}}</div>
    <div>Description:</div>
    <div>{{description}}</div>
    <div>Publisher:</div>
    <div>{{publisher}}</div>
    <div>Date Published:</div>
    <div>{{datePublished}}</div>
    <div>Price:</div>
    <div>{{price}}</div>
</section>